[submodule "lib/templates"]
	path = lib/templates
	url = https://github.com/kalman/templates.git
[submodule "lib/accessibility-developer-tools"]
	path = lib/accessibility-developer-tools
	url = https://github.com/GoogleChrome/accessibility-developer-tools.git
[submodule "lib/axe-core"]
	path = lib/axe-core
	url = https://github.com/dequelabs/axe-core.git
